[diff]
	tool = winmerge

[difftool "winmerge"]
	name = WinMerge 
	trustExitCode = true
	cmd = "/c/Program\\ Files\\ \\(x86\\)/WinMerge/WinMergeU.exe" -u -wl -e $LOCAL $REMOTE 

[difftool "vscode"]
	name = vscode 
	trustExitCode = false
	cmd = "/c/Program\\ Files/Microsoft\\ VS\\ Code/Code.exe" --diff --wait \"$LOCAL\" \"$REMOTE\"

[core]
	editor = 'C:\\Program Files\\Sublime Text 3\\sublime_text.exe' -w

[difftool]
	prompt = false
